.commonArticleStyle201811{
  .sec2{
      padding: 9rem 0 8.5rem;
      background: #4f92d1;
    @include mq {
      padding: vw(50) 0 vw(60);
    }
  .inner{
    h2{
      color: #fff;
      margin-bottom: 2.5rem;
      @include mq {
        margin-bottom: vw(50);
      }
      span {
        font-size: 5rem;
        border-bottom: 0.5rem solid #fff;
        padding: 1rem;
        @include mq {
          font-size: 4rem;
          border-bottom: vw(5) solid #fff;
          padding: vw(15);
        }
      }
    }
    .col2 {
      display: flex;
      justify-content: space-between;
      @include mq {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      div {
        position: relative;
        width: 48.4%;
        box-sizing: border-box;
        padding: 0 3rem 3rem;
        background: #fff;
        @include mq {
          width: 100%;
          padding: vw(50) vw(40) vw(50);
        }
        .imgbox {
          width: 100%;
          margin: 3rem auto 0;
          @include mq {
            position: absolute;
            width: 95%;
            top: vw(-40);
            left: 0;
            right: 0;
            opacity: 0.15;
            margin: 0 auto;
            background: transparent;
          }
          img {
            width: 100%;
          }
        }
        .img_l {
          margin: 1rem auto 0;
        }
        h3 {
          color: #385d8a;
          font-size: 2.6rem;
          font-weight: bold;
          @include mq {
            font-size: vw(30);
            margin: 0 2rem;
          }
        }
        p {
          font-size: 1.8rem;
          margin: 3rem 0 0;
          line-height: (26/18);
          @include mq {
            font-size: vw(26);
            margin: 0;
            line-height: (36/26);
          }
        }
        p + p {
          margin-top: 2.5rem;
        }
      }
      @include mq {
        div + div {
          margin-top: vw(20);
          
        }
      }
      .num1 {
        &:after {
          position: absolute;          
          display: inline-block;
          content: "";
          top: 0.5px;
          left: 1px;
          width: 6.8rem;
          height: 6.8rem;
          background-image: url(../images/sec2_num1.png);
          background-repeat: no-repeat;
          background-size: cover;
          @include mq {
            left: initial;
            right: 1px;
            width: vw(89);
            height: vw(89);
            background-image: url(../images/sp_sec2_num1.png);
          }
        }
      }
      .num2 {
        &:after {
          position: absolute;
          display: inline-block;
          content: "";
          top: 0.5px;
          left: 1px;
          width: 6.8rem;
          height: 6.8rem;
          background-image: url(../images/sec2_num2.png);
          background-repeat: no-repeat;
          background-size: cover;
          @include mq {
            left: initial;
            right: 1px;
            width: vw(89);
            height: vw(89);
            background-image: url(../images/sp_sec2_num2.png);
          }
        }
      }
    }
    .pageBtns {
      margin-top: 6rem;
      @include mq {
        margin-top: vw(30);
      }
    }
  }
}

}