.commonArticleStyle201811{
  .sec3{
    background-color: #edf3fa;
    padding: 85px 0 80px;
    @include mq{
      padding: vw(65) 0 vw(55);
    }
    .box{
      background-color: #fff;
      margin-bottom: 38px;
      padding: 30px;
      @include mq{
        margin-bottom: vw(50);
        padding: vw(30) vw(30) vw(10);
      }
      h3{
        margin-bottom: 26px;
        padding-left: 15px;
        font-size: 2.2rem;
        font-weight: bold;
        border-left: 5px solid #4c8ac7;
        @include mq{
          margin-bottom: vw(26);
          font-size: 2.8rem;
          font-weight: normal;
          line-height: (36/28);
          border-left-width: vw(6.12);
        }
      }
      ol{
        display: flex;
        @include mq{
          display: block;
        }
        > li{
          counter-increment: num1;
          width: percentage(288/940);
          padding: 0 percentage(19/940);
          @include mq{
            width: auto;
            padding: 0 !important;
          }
          + li{
            border-left: 1px dotted #ccc;
            @include mq{
              border-left: none;
            }
          }
          &:nth-child(1){padding-left: 0;}
          &:nth-child(3){padding-right: 0;}
          h4{
            display: flex;
            align-items: center;
            height: 100px;
            margin-right: 23px;
            padding-left: 15px;
            color: #fff;
            font-size: 1.8rem;
            font-weight: bold;
            position: relative;
            @include mq{
              margin-right: vw(23);
              margin-bottom: vw(10);
              padding-left: vw(25);
              height: vw(100);
              font-size: 2.6rem;
              line-height: (34/26);
            }
            &:before{
              content: "";
              background-position: left top;
              background-repeat: no-repeat;
              background-size: 100% 100%;;
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              right: -2px;
              z-index: 1;
              @include mq{
                right: vw(7);
              }
            }
            &:after{
              content: "";
              border-style: solid;
              border-width: 50px 0 50px 23px;
              position: absolute;
              top: 0;
              right: -23px;
              @include mq{
                border-width: vw(50) 0 vw(50) vw(23);
                right: vw(-22);
              }
            }
          }
          &:nth-child(1) h4{
            background-color: #4ac0fe;
            &:before{
              background-image: url(../images/sec3_list1_num.png);
              width: 32px;
              height: 72px;
              @include mq{
                width: vw(32);
                height: vw(72);
              }
            }
            &:after{
              border-left-color: #4ac0fe;
            }
          }
          &:nth-child(2) h4{
            background-color: #2b94f4;
            &:before{
              background-image: url(../images/sec3_list2_num.png);
              width: 45px;
              height: 72px;
              @include mq{
                width: vw(45);
                height: vw(72);
              }
            }
            &:after{
              border-left-color: #2b94f4;
            }
          }
          &:nth-child(3) h4{
            background-color: #164f78;
            &:before{
              background-image: url(../images/sec3_list3_num.png);
              width: 44px;
              height: 74px;
              @include mq{
                width: vw(44);
                height: vw(74);
              }
            }
            &:after{
              border-left-color: #164f78;
            }
          }
          ul{
            >li{
              margin-top: 18px;
              border: 1px solid #ccc;
              position: relative;
              @include mq{
                margin-top: 0;
                border: none;
              }
              + li{
                @include mq{
                  border-top: 1px solid #ccc;
                }
              }
              dl{
                display: flex;
                align-items: center;
                height: 100px;
                padding: 0 15px;
                text-align: center;
                @include mq{
                  height: vw(100);
                  padding: 0;
                  position: relative;
                  &:before{
                    content: "";
                    display: block;
                    width: vw(18);
                    height: vw(18);
                    margin: auto;
                    border-style: solid;
                    border-width: 0 0 vw(6) vw(6);
                    border-color: #4c8ac7;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    transform: translate(vw(-6),vw(-6)) rotate(-45deg);
                  }
                }
                &.show{
                  @include mq{
                    &:before{
                      transform: translate(vw(-6),vw(6)) rotate(135deg);
                    }
                  }
                }
                dt{
                  flex-shrink: 0;
                  width: 105px;
                  @include mq{
                    width: vw(105);
                    img{
                      width: 100%;
                    }
                  }
                }
                dd{
                  width: 100%;
                  color: #000033;
                  font-size: 1.5rem;
                  box-sizing: border-box;
                  @include mq{
                    padding-left: vw(25);
                    font-size: 2.8rem;
                    text-align: left;
                  }
                }
              }
              p{
                display: none;
                background-color: rgba(0,0,0,0.8);
                padding: 10px 20px;
                color: #fff;
                font-size: 1.4rem;
                line-height: (20/14);
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                @include mq{
                  background-color: transparent;
                  padding: 0 0 vw(20);
                  color: #666;
                  font-size: 2.2rem;
                  line-height: (32/22);
                  position: static;
                }
              }
              &:hover{
                p{
                  display: block;
                  @include mq{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}