.sec2{
  .in{
    width: 90%;
    margin: auto;
    text-align: right;
    text-shadow:
      0 0 5px #000,
      0 0 6px #000,
      0 0 7px #000;
    .txt{
      margin-bottom: 0.5%;
    }
    h2{
      margin-bottom: 2%;
      font-family: $mincho;
      font-size: 40px;
    }
    p{
      margin-right: -0.6em;
      font-size: 16px;
      line-height: (40/16);
    }
  }
}
