.commonArticleStyle201811{
  .sec1{
    background: url(../images/sec1_bg_wrap.png) center top no-repeat;
    padding: 40px 0 65px;
    text-align: center;
    @include mq{
      background: url(../images/sec1_bg_wrap_sp.png) center top no-repeat;
      background-size: 100% auto;
      padding: vw(35) 0;
    }
    h1{
      margin-bottom: 70px;
      font-weight: bold;
      @include mq{
        margin-bottom: vw(62);
      }
      small{
        display: block;
        margin-bottom: 0.8em;
        color: #ffcd00;
        font-size: 2.8rem;
        font-weight: inherit;
        @include mq{
          margin-bottom: 0.55em;
        }
        span{
          display: inline-block;
          padding-bottom: 0.5em;
          border-bottom: 1px solid #ffcd00;
          @include mq{
            padding-bottom: 0.35em;
          }
        }
      }
      strong{
        display: block;
        color: #fff;
        font-size: 5.1rem;
        font-weight: inherit;
        line-height: (62/51);
        @include mq{
          font-size: 3.6rem;
          line-height: (44/36);
        }
      }
    }
    .list{
      margin-bottom: 25px;
      @include mq{
        margin-bottom: vw(13);
      }
      ul{
        display: inline-block;
        font-weight: bold;
        li{
          padding: 15px 5px 15px 15px;
          font-size: 2.1rem;
          @include mq{
            padding: 0 0 vw(19);
            font-size: 2.0rem !important;
          }
          + li{
            border-top: 1px solid #ccc;
            @include mq{
              border-top: none;
            }
          }
          span{
            display: block;
            background: url(../images/icn_chk1.png) left center no-repeat;
            padding-left: 50px;
            @include mq{
              display: inline-block;
              background-size: vw(35) auto;
            }
            strong{
              font-size: em(31/21);
              font-weight: inherit;
              @include mq{
                font-size: em(30/20) !important;
              }
            }
          }
          &:nth-child(1){
            font-size: 2.6rem;
            span{
              strong{
                font-size: em(38/26);
                @include mq{
                }
              }
            }
          }
        }
      }
    }
    .sec1Btn{
      margin-bottom: 50px;
      @include mq{
        margin-bottom: vw(45);
      }
      a{
        display: inline-block;
        background-color: #ff8400;
        width: 620px;
        padding: 18px 0 12px;
        color: #fff;
        font-weight: bold;
        border-radius: 100px;
        box-shadow: 0 4px 0 #c86c0a;
        @include hvr;
        @include mq{
          display: block;
          width: auto;
          padding: vw(16) 0 vw(10);
          box-shadow: 0 vw(2) 0 #c86c0a;
        }
        > div{
          display: inline-block;
          background: url(../images/icn_dl.png) left center no-repeat;
          padding-left: 70px;
          @include mq{
            background-size: vw(56) auto;
            padding-left: vw(70);
          }
          small{
            display: block;
            margin-bottom: 0.3em;
            font-size: 2.4rem;
            font-weight: inherit;
            @include mq{
              font-size: 2.376rem;
            }
          }
          strong{
            display: block;
            font-size: 3.4rem;
            font-weight: inherit;
            @include mq{
              font-size: 3.6rem;
            }
          }
        }
      }
    }
    .sec1BtnType2{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      @include mq{
        display: block;
        margin-bottom: vw(45);
      }
      a{
        display: block;
        background-color: #ff8400;
        width: percentage(330/1022);
        padding: 18px 0 12px;
        color: #fff;
        font-weight: bold;
        border-radius: 100px;
        box-shadow: 0 4px 0 #c86c0a;
        @include hvr;
        @include mq{
          width: auto;
          padding: vw(16) 0 vw(10);
          box-shadow: 0 vw(2) 0 #c86c0a;
        }
        + a{
          @include mq{
            margin-top: vw(10);
          }
        }
        > div{
          display: inline-block;
          background-position: left center;
          background-repeat: no-repeat;
          @include mq{
          }
          small{
            display: block;
            margin-bottom: 0.3em;
            font-size: 1.4rem;
            font-weight: inherit;
            @include mq{
              font-size: 2.376rem;
            }
          }
          strong{
            display: block;
            font-size: 2.4rem;
            font-weight: inherit;
            @include mq{
              font-size: 3.6rem;
            }
          }
        }
        &.is_dl > div{
          background-image: url(../images/icn_dl.png);
          background-size: percentage(36/257) auto;
          padding-left: percentage(54/330);
        }
        &.is_tri > div{
          background-image: url(../images/icn_tri.png);
          background-size: percentage(41/226) auto;
          padding-left: percentage(61/330);
        }
        &.is_mail > div{
          background-image: url(../images/icn_mail.png);
          background-size: percentage(37/204) auto;
          padding-left: percentage(57/330);
        }
      }
    }
    .imgBox{
      background-color: #fff;
      border: 12px solid #385d8a;
      position: relative;
      @include mq{
        border-width: vw(8);
      }
      img{width: 100%;}
      .label{
        width: 164px;
        position: absolute;
        top: 0;
        left: 0;
        @include mq{
          width: vw(181);
          top: 1px;
          left: 1px;
        }
      }
      dl{
        display: flex;
        justify-content: space-between;
        padding: 31px 40px 33px 66px;
        @include mq{
          display: block;
          padding: vw(46) vw(25) vw(36) vw(25);
        }
        dt{
          width: 364px;
          @include mq{
            width: auto;
            img{
              width: vw(444);
            }
          }
        }
        dd{
          .txt{
            width: 500px;
            margin-bottom: 15px;
            padding-top: 10px;
            @include mq{
              width: auto;
              margin-bottom: vw(19);
              padding-top: vw(33);
              img{
                width: vw(537);
              }
            }
          }
          .img{
            width: 491px;
            margin-bottom: 15px;
            @include mq{
              width: auto;
              margin-bottom: vw(23);
              img{
                width: vw(550);
              }
            }
          }
          p{
            padding-left: 10px;
            color: #000033;
            font-size: 1.1rem;
            line-height: (17/11);
            text-align: left;
            @include mq{
              padding-left: 0;
              font-size: 1.617rem;
              line-height: (2499/1617);
            }
          }
        }
      }
    }
  }
}
