@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* リセット
---------------------------------------------------- */
html {
  font-size: 10px; }
  @media screen and (max-width: 640px) {
    html {
      font-size: 1.5625vw; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%; }

fieldset, img {
  border: 0;
  vertical-align: top; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

br {
  letter-spacing: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%; }

/* ページ共通
---------------------------------------------------- */
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cbox2Overlay, #cbox2Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cbox2Overlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cbox2MiddleLeft, #cbox2BottomLeft {
  clear: left; }

#cbox2Content {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; }

#cbox2LoadedContent {
  overflow: auto; }

#cbox2LoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0; }

#cbox2Title {
  margin: 0; }

#cbox2LoadingOverlay, #cbox2LoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#cbox2Previous, #cbox2Next, #cbox2Close, #cbox2Slideshow {
  cursor: pointer; }

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cbox2Overlay {
  background: black url(//deagostini.jp/site/common/overlay.png) 0 0 repeat; }

#cbox2TopLeft {
  width: 21px;
  height: 21px;
  background: none -100px 0 no-repeat; }

#cbox2TopRight {
  width: 21px;
  height: 21px;
  background: none -129px 0 no-repeat; }

#cbox2BottomLeft {
  width: 21px;
  height: 21px;
  background: none -100px -29px no-repeat; }

#cbox2BottomRight {
  width: 21px;
  height: 21px;
  background: none -129px -29px no-repeat; }

#cbox2MiddleLeft {
  width: 21px;
  background: none left top repeat-y; }

#cbox2MiddleRight {
  width: 21px;
  background: none right top repeat-y; }

#cbox2TopCenter {
  height: 21px;
  background: none 0 0 repeat-x; }

#cbox2BottomCenter {
  height: 21px;
  background: none 0 -29px repeat-x; }

/* #cbox2Content{background:;}*/
#cbox2LoadedContent {
  margin-bottom: 28px;
  padding: 30px 60px 0px; }

#cbox2Title {
  position: absolute;
  top: 636px;
  left: 60px;
  text-align: left;
  width: 860px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000; }

#cbox2Current {
  position: absolute;
  top: 10px;
  left: 60px;
  color: #FFFFFF; }

#cbox2Slideshow {
  position: absolute;
  bottom: 3px;
  right: 30px;
  color: #FFFFFF; }

#cbox2Previous {
  left: 10px;
  transform: rotate(-135deg); }

#cbox2Next {
  right: 10px;
  transform: rotate(45deg); }

#cbox2LoadingOverlay {
  background: url(//deagostini.jp/site/common/loading_background.png) center center no-repeat; }

#cbox2LoadingGraphic {
  background: url(//deagostini.jp/site/common/loading.gif) center center no-repeat; }

#cbox2Close {
  position: absolute;
  bottom: 11px;
  right: 60px;
  background: url(../images/colorbox_close.png);
  background-position: left 4px;
  background-repeat: no-repeat;
  width: 87px;
  height: 32px;
  text-indent: -9999px;
  border: 0px;
  border-radius: 5px; }

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
#cbox2Previous,
#cbox2Next {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 0;
  text-indent: -9999px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #fff #fff transparent transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10000; }

#cbox2Previous:hover,
#cbox2Next:hover {
  opacity: 0.7; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0; }

/* Slider */
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
/*
@-webkit-keyframes anim1{
	0%{
		-webkit-transform:rotate(0deg) translateY(-10%) rotate(0deg);
		transform:rotate(0deg) translateY(-10%) rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg) translateY(-10%) rotate(-360deg);
		transform:rotate(360deg) translateY(-10%) rotate(-360deg);
	}
}
@keyframes anim1{
	0%{
		-webkit-transform:rotate(0deg) translateY(-10%) rotate(0deg);
		transform:rotate(0deg) translateY(-10%) rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg) translateY(-10%) rotate(-360deg);
		transform:rotate(360deg) translateY(-10%) rotate(-360deg);
	}
}
*/
@keyframes blinking1 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes anim1 {
  0% {
    -webkit-transform: rotate(0deg) translateY(-10%) rotate(0deg);
    transform: rotate(0deg) translateY(-10%) rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg) translateY(-10%) rotate(-360deg);
    transform: rotate(360deg) translateY(-10%) rotate(-360deg); } }
@keyframes anim2 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
@keyframes anim3 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(-20deg); } }
@keyframes anim4 {
  0% {
    transform: rotate(0deg) translateY(-4%) rotate(0deg); }
  50% {
    transform: rotate(360deg) translateY(-4%) rotate(-360deg); }
  100% {
    transform: rotate(360deg) translateY(-4%) rotate(-340deg); } }
@keyframes anim5 {
  0% {
    transform: rotate(0deg) translateY(-6%) rotate(0deg); }
  100% {
    transform: rotate(-360deg) translateY(-6%) rotate(360deg); } }
@keyframes anim6 {
  0% {
    transform: rotate(0deg) translateY(-10%) rotate(0deg); }
  100% {
    transform: rotate(360deg) translateY(-10%) rotate(-360deg); } }
@keyframes anim7 {
  0% {
    transform: rotate(0deg) translateY(-20%) rotate(0deg); }
  100% {
    transform: rotate(-360deg) translateY(-20%) rotate(200deg); }
  100% {
    transform: rotate(-360deg) translateY(-20%) rotate(360deg); } }
@keyframes coverIn {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes news-show {
  0% {
    opacity: 0;
    top: 10px; }
  100% {
    opacity: 1;
    top: -10px; } }
@keyframes modal-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 20px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    margin-top: 20px; }
  100% {
    opacity: 1;
    margin-top: 0; } }
@keyframes hayabusachan {
  0% {
    opacity: 0;
    bottom: -200px; }
  100% {
    opacity: 1;
    bottom: -100px; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes historyBox {
  0% {
    height: 0; }
  100% {
    height: 99%; } }
@keyframes bgZoom {
  0% {
    background-size: 100% auto; }
  100% {
    background-size: 200% auto; } }
@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(20px); }
  100% {
    opacity: 1;
    filter: blur(0px); } }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated4 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated2.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated3.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated4.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -goog-ms-animation-timing-function: linear; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

.commonArticleStyle201811 {
  font-family: 'Noto Sans Japanese', sans-serif; }
  @media screen and (max-width: 640px) {
    .commonArticleStyle201811 .inner {
      padding: 0 3.125vw; } }
  .commonArticleStyle201811 .sp {
    display: none; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sp {
        display: block; } }
  .commonArticleStyle201811 h2 {
    margin-bottom: 1.0em;
    color: #385d8a;
    font-size: 5.0rem;
    font-weight: bold;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 h2 {
        font-size: 4.0rem; } }
    .commonArticleStyle201811 h2 span {
      display: inline-block;
      border-bottom: 5px solid #385d8a; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 h2 span {
          border-bottom-width: 0.78125vw; } }
  .commonArticleStyle201811 .pageBtns {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .pageBtns {
        display: block; } }
    .commonArticleStyle201811 .pageBtns a {
      display: block;
      width: 48.5%;
      background-color: #ff8400;
      color: #fff;
      font-weight: bold;
      text-align: center;
      border-radius: 100px;
      box-shadow: 0 4px 0 #c86c0a;
      text-decoration: none;
      transition: 0.3s; }
      .commonArticleStyle201811 .pageBtns a:hover {
        opacity: 0.7; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .pageBtns a {
          width: auto;
          box-shadow: 0 0.3125vw 0 #c86c0a; } }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .pageBtns a + a {
          margin-top: 5.3125vw; } }
      .commonArticleStyle201811 .pageBtns a > div {
        display: inline-block;
        background-position: left center;
        background-repeat: no-repeat;
        padding: 3.2989690722% 0 3.2989690722%; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .pageBtns a > div {
            background-size: 64px auto !important;
            padding: 3.125vw 0 3.125vw 12.8125vw !important; } }
        .commonArticleStyle201811 .pageBtns a > div small {
          display: block;
          margin-bottom: 0.3em;
          font-size: 1.6rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .pageBtns a > div small {
              font-size: 1.988rem; } }
        .commonArticleStyle201811 .pageBtns a > div strong {
          display: block;
          font-size: 2.6rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .pageBtns a > div strong {
              font-size: 3.23rem; } }
      .commonArticleStyle201811 .pageBtns a.btnDL > div {
        background-image: url(../images/icn_dl.png);
        background-size: 50px auto;
        padding-left: 65px; }
      .commonArticleStyle201811 .pageBtns a.btnTri > div {
        background-image: url(../images/icn_tri.png);
        background-size: 51px auto;
        padding-left: 66px; }

.commonArticleStyle201811 .sec1 {
  background: url(../images/sec1_bg_wrap.png) center top no-repeat;
  padding: 40px 0 65px;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .commonArticleStyle201811 .sec1 {
      background: url(../images/sec1_bg_wrap_sp.png) center top no-repeat;
      background-size: 100% auto;
      padding: 5.46875vw 0; } }
  .commonArticleStyle201811 .sec1 h1 {
    margin-bottom: 70px;
    font-weight: bold; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sec1 h1 {
        margin-bottom: 9.6875vw; } }
    .commonArticleStyle201811 .sec1 h1 small {
      display: block;
      margin-bottom: 0.8em;
      color: #ffcd00;
      font-size: 2.8rem;
      font-weight: inherit; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 h1 small {
          margin-bottom: 0.55em; } }
      .commonArticleStyle201811 .sec1 h1 small span {
        display: inline-block;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ffcd00; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 h1 small span {
            padding-bottom: 0.35em; } }
    .commonArticleStyle201811 .sec1 h1 strong {
      display: block;
      color: #fff;
      font-size: 5.1rem;
      font-weight: inherit;
      line-height: 1.2156862745; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 h1 strong {
          font-size: 3.6rem;
          line-height: 1.2222222222; } }
  .commonArticleStyle201811 .sec1 .list {
    margin-bottom: 25px; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sec1 .list {
        margin-bottom: 2.03125vw; } }
    .commonArticleStyle201811 .sec1 .list ul {
      display: inline-block;
      font-weight: bold; }
      .commonArticleStyle201811 .sec1 .list ul li {
        padding: 15px 5px 15px 15px;
        font-size: 2.1rem; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .list ul li {
            padding: 0 0 2.96875vw;
            font-size: 2.0rem !important; } }
        .commonArticleStyle201811 .sec1 .list ul li + li {
          border-top: 1px solid #ccc; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .list ul li + li {
              border-top: none; } }
        .commonArticleStyle201811 .sec1 .list ul li span {
          display: block;
          background: url(../images/icn_chk1.png) left center no-repeat;
          padding-left: 50px; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .list ul li span {
              display: inline-block;
              background-size: 5.46875vw auto; } }
          .commonArticleStyle201811 .sec1 .list ul li span strong {
            font-size: 1.4761904762em;
            font-weight: inherit; }
            @media screen and (max-width: 640px) {
              .commonArticleStyle201811 .sec1 .list ul li span strong {
                font-size: 1.5em !important; } }
        .commonArticleStyle201811 .sec1 .list ul li:nth-child(1) {
          font-size: 2.6rem; }
          .commonArticleStyle201811 .sec1 .list ul li:nth-child(1) span strong {
            font-size: 1.4615384615em; }
  .commonArticleStyle201811 .sec1 .sec1Btn {
    margin-bottom: 50px; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sec1 .sec1Btn {
        margin-bottom: 7.03125vw; } }
    .commonArticleStyle201811 .sec1 .sec1Btn a {
      display: inline-block;
      background-color: #ff8400;
      width: 620px;
      padding: 18px 0 12px;
      color: #fff;
      font-weight: bold;
      border-radius: 100px;
      box-shadow: 0 4px 0 #c86c0a;
      text-decoration: none;
      transition: 0.3s; }
      .commonArticleStyle201811 .sec1 .sec1Btn a:hover {
        opacity: 0.7; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 .sec1Btn a {
          display: block;
          width: auto;
          padding: 2.5vw 0 1.5625vw;
          box-shadow: 0 0.3125vw 0 #c86c0a; } }
      .commonArticleStyle201811 .sec1 .sec1Btn a > div {
        display: inline-block;
        background: url(../images/icn_dl.png) left center no-repeat;
        padding-left: 70px; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .sec1Btn a > div {
            background-size: 8.75vw auto;
            padding-left: 10.9375vw; } }
        .commonArticleStyle201811 .sec1 .sec1Btn a > div small {
          display: block;
          margin-bottom: 0.3em;
          font-size: 2.4rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .sec1Btn a > div small {
              font-size: 2.376rem; } }
        .commonArticleStyle201811 .sec1 .sec1Btn a > div strong {
          display: block;
          font-size: 3.4rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .sec1Btn a > div strong {
              font-size: 3.6rem; } }
  .commonArticleStyle201811 .sec1 .sec1BtnType2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sec1 .sec1BtnType2 {
        display: block;
        margin-bottom: 7.03125vw; } }
    .commonArticleStyle201811 .sec1 .sec1BtnType2 a {
      display: block;
      background-color: #ff8400;
      width: 32.28962818%;
      padding: 18px 0 12px;
      color: #fff;
      font-weight: bold;
      border-radius: 100px;
      box-shadow: 0 4px 0 #c86c0a;
      text-decoration: none;
      transition: 0.3s; }
      .commonArticleStyle201811 .sec1 .sec1BtnType2 a:hover {
        opacity: 0.7; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 .sec1BtnType2 a {
          width: auto;
          padding: 2.5vw 0 1.5625vw;
          box-shadow: 0 0.3125vw 0 #c86c0a; } }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 .sec1BtnType2 a + a {
          margin-top: 1.5625vw; } }
      .commonArticleStyle201811 .sec1 .sec1BtnType2 a > div {
        display: inline-block;
        background-position: left center;
        background-repeat: no-repeat; }
        .commonArticleStyle201811 .sec1 .sec1BtnType2 a > div small {
          display: block;
          margin-bottom: 0.3em;
          font-size: 1.4rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .sec1BtnType2 a > div small {
              font-size: 2.376rem; } }
        .commonArticleStyle201811 .sec1 .sec1BtnType2 a > div strong {
          display: block;
          font-size: 2.4rem;
          font-weight: inherit; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec1 .sec1BtnType2 a > div strong {
              font-size: 3.6rem; } }
      .commonArticleStyle201811 .sec1 .sec1BtnType2 a.is_dl > div {
        background-image: url(../images/icn_dl.png);
        background-size: 14.0077821012% auto;
        padding-left: 16.3636363636%; }
      .commonArticleStyle201811 .sec1 .sec1BtnType2 a.is_tri > div {
        background-image: url(../images/icn_tri.png);
        background-size: 18.1415929204% auto;
        padding-left: 18.4848484848%; }
      .commonArticleStyle201811 .sec1 .sec1BtnType2 a.is_mail > div {
        background-image: url(../images/icn_mail.png);
        background-size: 18.137254902% auto;
        padding-left: 17.2727272727%; }
  .commonArticleStyle201811 .sec1 .imgBox {
    background-color: #fff;
    border: 12px solid #385d8a;
    position: relative; }
    @media screen and (max-width: 640px) {
      .commonArticleStyle201811 .sec1 .imgBox {
        border-width: 1.25vw; } }
    .commonArticleStyle201811 .sec1 .imgBox img {
      width: 100%; }
    .commonArticleStyle201811 .sec1 .imgBox .label {
      width: 164px;
      position: absolute;
      top: 0;
      left: 0; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 .imgBox .label {
          width: 28.28125vw;
          top: 1px;
          left: 1px; } }
    .commonArticleStyle201811 .sec1 .imgBox dl {
      display: flex;
      justify-content: space-between;
      padding: 31px 40px 33px 66px; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec1 .imgBox dl {
          display: block;
          padding: 7.1875vw 3.90625vw 5.625vw 3.90625vw; } }
      .commonArticleStyle201811 .sec1 .imgBox dl dt {
        width: 364px; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .imgBox dl dt {
            width: auto; }
            .commonArticleStyle201811 .sec1 .imgBox dl dt img {
              width: 69.375vw; } }
      .commonArticleStyle201811 .sec1 .imgBox dl dd .txt {
        width: 500px;
        margin-bottom: 15px;
        padding-top: 10px; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .imgBox dl dd .txt {
            width: auto;
            margin-bottom: 2.96875vw;
            padding-top: 5.15625vw; }
            .commonArticleStyle201811 .sec1 .imgBox dl dd .txt img {
              width: 83.90625vw; } }
      .commonArticleStyle201811 .sec1 .imgBox dl dd .img {
        width: 491px;
        margin-bottom: 15px; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .imgBox dl dd .img {
            width: auto;
            margin-bottom: 3.59375vw; }
            .commonArticleStyle201811 .sec1 .imgBox dl dd .img img {
              width: 85.9375vw; } }
      .commonArticleStyle201811 .sec1 .imgBox dl dd p {
        padding-left: 10px;
        color: #000033;
        font-size: 1.1rem;
        line-height: 1.5454545455;
        text-align: left; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec1 .imgBox dl dd p {
            padding-left: 0;
            font-size: 1.617rem;
            line-height: 1.5454545455; } }

.commonArticleStyle201811 .sec2 {
  padding: 9rem 0 8.5rem;
  background: #4f92d1; }
  .commonArticleStyle201811 .sec2 .inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto; }
    .commonArticleStyle201811 .sec2 .inner .txt {
      margin-bottom: 0.5%; }
    .commonArticleStyle201811 .sec2 .inner h2 {
      color: #fff;
      margin-bottom: 2%;
      font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
      font-size: 40px; }
    .commonArticleStyle201811 .sec2 .inner .col2 {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec2 .inner .col2 {
          justify-content: flex-start;
          flex-wrap: wrap; } }
      .commonArticleStyle201811 .sec2 .inner .col2 div {
        position: relative;
        width: 48.4%;
        box-sizing: border-box;
        padding: 0 3rem 3rem;
        background: #fff; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec2 .inner .col2 div {
            width: 100%;
            padding: 1.5rem 1rem 1rem; } }
        .commonArticleStyle201811 .sec2 .inner .col2 div .imgbox {
          width: 100%;
          margin: 3rem auto 0; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec2 .inner .col2 div .imgbox {
              margin: 0 auto; } }
          .commonArticleStyle201811 .sec2 .inner .col2 div .imgbox img {
            width: 100%; }
        .commonArticleStyle201811 .sec2 .inner .col2 div .img_l {
          margin: 1rem auto 0; }
        .commonArticleStyle201811 .sec2 .inner .col2 div h3 {
          color: #385d8a;
          font-size: 2.6rem;
          font-weight: bold; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec2 .inner .col2 div h3 {
              margin: 0 2rem; } }
        .commonArticleStyle201811 .sec2 .inner .col2 div p {
          font-size: 1.8rem;
          margin: 3rem 0 0;
          line-height: 1.4444444444; }
          @media screen and (max-width: 640px) {
            .commonArticleStyle201811 .sec2 .inner .col2 div p {
              margin: 3rem 2rem 2rem; } }
        .commonArticleStyle201811 .sec2 .inner .col2 div p + p {
          margin-top: 2.5rem; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec2 .inner .col2 div + div {
          margin-top: 3.125vw; } }
      .commonArticleStyle201811 .sec2 .inner .col2 .num1:after {
        position: absolute;
        display: inline-block;
        content: "";
        top: 1px;
        left: 1px;
        width: 68px;
        height: 68px;
        background-image: url(../images/sec2_num1.png);
        background-repeat: no-repeat;
        background-size: cover; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec2 .inner .col2 .num1:after {
            left: initial;
            right: 1px;
            background-image: url(../images/sp_sec2_num1.png); } }
      .commonArticleStyle201811 .sec2 .inner .col2 .num2:after {
        position: absolute;
        display: inline-block;
        content: "";
        top: 1px;
        left: 0.5px;
        width: 68px;
        height: 68px;
        background-image: url(../images/sec2_num2.png);
        background-repeat: no-repeat;
        background-size: cover; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec2 .inner .col2 .num2:after {
            left: initial;
            right: 1px;
            background-image: url(../images/sp_sec2_num2.png); } }
  .commonArticleStyle201811 .sec2 .pageBtns {
    margin-top: 6rem;
    justify-content: center; }
    .commonArticleStyle201811 .sec2 .pageBtns a {
      text-decoration: none; }
    .commonArticleStyle201811 .sec2 .pageBtns a + a {
      margin-left: 3rem; }

.commonArticleStyle201811 .sec3 {
  background-color: #edf3fa;
  padding: 85px 0 80px; }
  @media screen and (max-width: 640px) {
    .commonArticleStyle201811 .sec3 {
      padding: 10.15625vw 0 8.59375vw; } }
  .commonArticleStyle201811 .sec3 .box {
    background-color: #fff;
    margin-bottom: 38px;
    padding: 30px; }
    .commonArticleStyle201811 .sec3 .box h3 {
      margin-bottom: 26px;
      padding-left: 15px;
      font-size: 2.2rem;
      font-weight: bold;
      border-left: 5px solid #4c8ac7; }
    .commonArticleStyle201811 .sec3 .box ol {
      display: flex; }
      @media screen and (max-width: 640px) {
        .commonArticleStyle201811 .sec3 .box ol {
          display: block; } }
      .commonArticleStyle201811 .sec3 .box ol > li {
        counter-increment: num1;
        width: 30.6382978723%;
        padding: 0 2.0212765957%; }
        @media screen and (max-width: 640px) {
          .commonArticleStyle201811 .sec3 .box ol > li {
            width: auto; } }
        .commonArticleStyle201811 .sec3 .box ol > li + li {
          border-left: 1px dotted #ccc; }
        .commonArticleStyle201811 .sec3 .box ol > li:nth-child(1) {
          padding-left: 0; }
        .commonArticleStyle201811 .sec3 .box ol > li:nth-child(3) {
          padding-right: 0; }
        .commonArticleStyle201811 .sec3 .box ol > li h4 {
          display: flex;
          align-items: center;
          height: 100px;
          margin-right: 23px;
          padding-left: 15px;
          color: #fff;
          font-size: 1.8rem;
          font-weight: bold;
          position: relative; }
          .commonArticleStyle201811 .sec3 .box ol > li h4:before {
            content: "";
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -2px;
            z-index: 1; }
          .commonArticleStyle201811 .sec3 .box ol > li h4:after {
            content: "";
            border-style: solid;
            border-width: 50px 0 50px 23px;
            position: absolute;
            top: 0;
            right: -23px; }
        .commonArticleStyle201811 .sec3 .box ol > li:nth-child(1) h4 {
          background-color: #4ac0fe; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(1) h4:before {
            background-image: url(../images/sec3_list1_num.png);
            width: 32px;
            height: 72px; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(1) h4:after {
            border-left-color: #4ac0fe; }
        .commonArticleStyle201811 .sec3 .box ol > li:nth-child(2) h4 {
          background-color: #2b94f4; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(2) h4:before {
            background-image: url(../images/sec3_list2_num.png);
            width: 45px;
            height: 72px; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(2) h4:after {
            border-left-color: #2b94f4; }
        .commonArticleStyle201811 .sec3 .box ol > li:nth-child(3) h4 {
          background-color: #164f78; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(3) h4:before {
            background-image: url(../images/sec3_list3_num.png);
            width: 44px;
            height: 74px; }
          .commonArticleStyle201811 .sec3 .box ol > li:nth-child(3) h4:after {
            border-left-color: #164f78; }
        .commonArticleStyle201811 .sec3 .box ol > li ul > li {
          margin-top: 18px;
          border: 1px solid #ccc;
          position: relative; }
          .commonArticleStyle201811 .sec3 .box ol > li ul > li dl {
            display: flex;
            align-items: center;
            height: 100px;
            padding: 0 15px;
            text-align: center; }
            .commonArticleStyle201811 .sec3 .box ol > li ul > li dl dt {
              flex-shrink: 0;
              width: 105px; }
            .commonArticleStyle201811 .sec3 .box ol > li ul > li dl dd {
              width: 100%;
              color: #000033;
              font-size: 1.5rem; }
          .commonArticleStyle201811 .sec3 .box ol > li ul > li p {
            display: none;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px 20px;
            color: #fff;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0; }
            @media screen and (max-width: 640px) {
              .commonArticleStyle201811 .sec3 .box ol > li ul > li p {
                background-color: transparent;
                color: #333;
                position: static; } }
          .commonArticleStyle201811 .sec3 .box ol > li ul > li:hover p {
            display: block; }
