doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  include include/_p-hd.pug

  body
    header
      include include/_header.pug

    #fullpage
      .section.sec1
        include include/_sec1.pug

      .section.sec2
        include include/_sec2.pug

      .section.sec3
        include include/_sec3.pug

      .section.sec4
        include include/_sec4.pug

      .section.sec5
        include include/_sec5.pug
        
    footer#siteFooter
      include include/_footer.pug
      

       //*.ft
          <!--#include virtual="footer/template/footer-contents01.html" -->
          <!--#include virtual="footer/template/footer.html" -->
         
          


