.navUnitContainer
        .content
          .navContent
            ul.nav
              li
                a(href="/" target="_blank") List FinderサイトTOP
            ul.nav
              li
                a(href="/about-us/" target="_blank") 会社概要
            ul.nav
              li
                a(href="https://www.innovation.co.jp/policies/privacy/" target="_blank") プライバシーポリシー
            ul.nav
              li
                a(href="https://www.innovation.co.jp/policies/security/" target="_blank") セキュリティポリシー
            ul.nav
              li
                a(href="https://www.innovation.co.jp/policies/cookie/" target="_blank") クッキーポリシー
            ul.nav.sp
              li
                a(href="/" target="_blank") List FinderサイトTOP
              li
                a(href="/about-us/" target="_blank") 会社概要
              li
                a(href="https://www.innovation.co.jp/policies/privacy/" target="_blank") プライバシーポリシー
              li
                a(href="https://www.innovation.co.jp/policies/security/" target="_blank") セキュリティポリシー
              li
                a(href="https://www.innovation.co.jp/policies/cookie/" target="_blank") クッキーポリシー
