#header
  .inner
    .logo
      img(src='https://testing.list-finder.jp/wp-content/uploads/2016/01/logo.png', alt='List Finder', width='158', height='38')
    .PR15
      img(src='https://testing.list-finder.jp/wp-content/uploads/2016/01/head_tel.png', alt='お問い合わせ・ご相談は 0120-665-702 受付時間 平日9:00～18:00', width='346', height='38')
    .download
      a(href='/download/')
        span 資料ダウンロード
#spHeader
  .logo
    img(src='https://testing.list-finder.jp/wp-content/themes/list-finder/img/common/logo.png', alt='List Finder 有望商談を発掘する')
  .nav
    ul
      li
        a(href='tel:0120665702')
          img(src='https://testing.list-finder.jp/wp-content/uploads/2017/01/ico_phone_orange.png', alt='お電話')
          span.text お電話
      li
        a.download(href='/download/')
          img(src='https://testing.list-finder.jp/wp-content/uploads/2017/01/ico_download_orange.png', alt='資料ダウンロード')
          span.text 資料DL
// ここまで