head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='content-script-type', content='text/javascript')
  meta(http-equiv='content-script-type', content='text/css')
  meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
  title TEST
  meta(name='description', content=``)
  meta(name='keywords', content='')
  // OGs
  meta(property='og:title', content=``)
  meta(property='og:site_name', content='')
  meta(property='og:description', content=``)
  meta(property='og:type', content='wesite')
  meta(property='og:url', content=``)
  meta(property="og:image" content=``)
  // /OGs
  //link(href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css', rel='stylesheet', type='text/css', media='all')
  link(href='footer/css/style.css', rel='stylesheet', type='text/css', media='all')
  link(href='assets/css/fullpage.css', rel='stylesheet', type='text/css', media='all')
  link(href='assets/css/style.css', rel='stylesheet', type='text/css', media='all')
  script(type='text/javascript', src='assets/js/plugin.js')
  script(type='text/javascript', src='assets/js/vendors/scrolloverflow.min.js')
  script(type='text/javascript', src='assets/js/jquery.fullpage.min.js')
  script(type='text/javascript', src='assets/js/script.js')