.inner
  h1
    span BtoB専門企業だから実現した
      | BtoB特化のマーケティング
      br
      | オートメーション

  ul
    li 
      span BtoBシェアNo.1！
    li BtoB企業にとって、本当に
      span 必要な機能に特化。
    li サポートやセキュリティも万全。
      span 初めてでも安心。

  .btn_material 2018年度最新版　MA比較表つき！
    span 資料ダウンロード

  .imgbox
    img(src="")

