.inner

  h2 
    span 選ばれる理由
  
  ul.col2
    li.num1
      .imgbox
        img(src="src/assets/images/sec2_img1.png")
        
      .txt
        h3 BtoB企業に必要な機能に特化

        p シンプルなアクションで成果を生み出す、
          br 
          | 「初めてに」ちょうどいいツール。

        p PDF閲覧解析、見込み顧客への企業属性付与など、BtoB企業が本当に必要な機能を搭載。
    li.num2
      .imgbox
        img(src="src/assets/images/sec2_img2.png")

      .txt
        h3 安心のサポート・セキュリティ

        p 導入初期はコンサルタントが伴走サポート。
          br
          | 運用中の不明点はサポートサイトや
          br 
          | カスタマーサポートがスムーズに解決。

        p Pマーク、ISMS、ISO/IEC27017など
          br
          | 各種セキュリティ基準にも対応。


  include _pagebtn.pug

