.inner
  h2 #[span 価格]
  p 39,800円から。始めやすいお手頃価格でご提供。
    br
    | 使いたい機能に合わせて、ライト・スタンダード・
    br.sp_app
    | プレミアムの3プランをご用意。
    
  .estimate
    span.fontS ※最低利用6カ月～
    .inner
      div
       | 初期費用 
       span.fontB 100,000
       | 円
      span +
      div
       | 月額費用 
       span.fontB 39,800
       | 円～

  .plan_table
    br
    br
    br
    br
    br
    .box
      table
        tbody
          tr
            th 料金プラン
            th ライト
            th スタンダード
            th プレミアム
          tr
            th  月額基本料金
            th
              strong 39,800
              | 円
            th
              strong 59,800
              | 円
            th
              strong 79,800
              | 円
          tr
            td.td2 企業解析（アクセス解析）
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 個人解析
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 メール配信
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 名刺データ化代行
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 優先リード通知
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 アプローチ管理
            td 〇
            td.td3 〇
            td 〇
          tr
            td.td2 フォーム作成
            td  
            td.td3 〇
            td 〇
          tr
            td.td2 セミナーページ作成
            td  
            td.td3 〇
            td 〇
          tr
            td.td2 企業属性付与
            td  
            td.td3
              | 〇
              br
              |         （1,500件/月）
            td
              | 〇
              br
              |         （3,000件/月）
          tr
            td.td2 PDF閲覧解析
            td  
            td.td3 〇
            td 〇
          tr
            td.td2 API連携
            td  
            td.td3  
            td
              | 〇
              br
              |         （2019年実装予定）
    br
    br
    br
    br
    .box2
      table
        tbody
          tr
            th(colspan="2" rowspan="2")
              p  
            th(colspan="5") 顧客データ数
          tr
            th ～5,000件
            th ～10,000件
            th ～20,000件
            th ～30,000件
            th 以降10,000件ごとに
          tr
            td.td2(rowspan="3") PV数
            td.td2 ～50,000PV
            td 0円
            td +10,000円
            td +20,000円
            td +30,000円
            td +10,000円
          tr
            td.td2 ～100,000PV
            td +10,000円
            td +20,000円
            td +30,000円
            td +40,000円
            td 50,001件以降+5,000円
          tr
            td.td2 以降+5万PV毎
            td(colspan="5") +10,000円（300,001PV以降+5,000円）
    br
    br
    br
    br
  include _pagebtn.pug
  
  
