.inner
  h2 #[span 機能]

  .box
    h3 BtoB企業が本当に“活用”できる、シンプルな機能を搭載
    ol
      li
        h4 見込み顧客情報の#[br.sp]一元管理
        ul
          li
            dl
              dt #[img(src="assets/images/sec3_list1_img1.png" alt="")]
              dd 名刺データ化代行
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list1_img2.png" alt="")]
              dd フォーム作成
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list1_img3.png" alt="")]
              dd 企業属性付与
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list1_img4.png" alt="")]
              dd Sansan連携
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
      li
        h4 見込み顧客の#[br.sp]育成
        ul
          li
            dl
              dt #[img(src="assets/images/sec3_list2_img1.png" alt="")]
              dd メール配信
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list2_img2.png" alt="")]
              dd アクセス解析
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list2_img3.png" alt="")]
              dd PDF閲覧解析#[br]（特許出願中）
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list2_img4.png" alt="")]
              dd セミナーページ作成
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
      li
        h4 確度の高い#[br]見込み顧客の抽出
        ul
          li
            dl
              dt #[img(src="assets/images/sec3_list3_img1.png" alt="")]
              dd スコアリング
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list3_img2.png" alt="")]
              dd 優先リード通知
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list3_img3.png" alt="")]
              dd アプローチ管理
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
          li
            dl
              dt #[img(src="assets/images/sec3_list3_img4.png" alt="")]
              dd API連携#[br]（2019年実装予定）
            p マウスオーバーすると説明が表示されるテキストテキストテキストテキストテキストテキストテキストテトテキストテキスト
            

  include _pagebtn.pug