.in
  dl
    dt 理想のデザインに金属加工で応えます。
    dd 新しいデザイン、理想の造形、斬新な立体物などあらゆるデザインアイデアの具現化に熟練の技術で対応。これまでなかったモノづくりに挑戦します。
  dl
    dt 品質へのこだわりを高い技術力で実現します。
    dd 金属の精密な加工技術と繊細で美しい仕上がりを実現した栄作工房。品質にこだわるお客様のニーズに高いレベルで応えます。
  dl
    dt 硬い金属が柔軟な発想とニーズに応えます。
    dd 滑らかな曲線や柔らかな質感、重厚な印象や不思議なデザインなど、他の素材では表現しにくいもの、これまで実現が難しかったものもご相談ください。
  dl
    dt 図面作成から加工・仕上げまで一貫生産します。
    dd イメージスケッチをもとに図面から作成。多彩な技術を駆使して理想的な製作工程を作り、自社一貫生産で責任を持って製造します。