.inner
  h1
    small BtoB専門企業だから実現した
    span シンプルに使える#[br]マーケティングオートメーション

  ul
    li 
      span BtoB#[strong シェアNo.1！]
    li 
      span 本当に#[strong 必要な機能に特化]
    li 
      span 安心の#[strong サポート・セキュリティ]

  .btn_material 2018年度最新版　MA比較表つき！
    span 資料ダウンロード

  .imgbox
    picture
      source(srcset= imgPath + "sp_sec1_img1.png" media=spW)
      img(src= imgPath + "sec1_img1.png" alt="")

