.inner

  h2 選ばれる理由
  
  .col2
    div
      .imgbox
        img(src="")
        
      h3 BtoB企業に必要な機能に特化
      
      p BtoB企業にとって、本当に必要な機能に特化。
      br
      | シンプルなアクションで使える、「初めて」にちょうどいいツール。
    div
      .imgbox
        img(src="")
        
      h3 安心のサポート・セキュリティ
      
      p ・もっとも重要な導入初期は、コンサルタントによる伴走期間をご用意。普段の運用における不明点はサポートサイトやカスタマーサポートでスムーズに解決
      br
      | ・各種セキュリティ基準にも対応
      
  .col2
    


      
    