.inner
  h2 #[span 導入事例]
  ul
    li
      .label #[img(src="assets/images/sec5_txt1.png" alt="")]
      dl
        dt #[img(src="assets/images/sec5_img1.png" alt="")]
        dd
          h3 見えない顧客を可視化し、#[br]インバウンド営業の#[br.sp]精度向上に貢献
          strong 株式会社テリロジーサービスウェア様
          p 〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九
    li
      .label #[img(src="assets/images/sec5_txt2.png" alt="")]
      dl
        dt #[img(src="assets/images/sec5_img2.png" alt="")]
        dd
          h3 社内に埋もれていた名刺から#[br]初のメール配信で3件の受注を獲得
          strong 株式会社ジールコミュニケーションズ様
          p 〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九〇一二三四五六七八九


  include _pagebtn.pug