//- ---------------------
	      変数用pug
	-----------------------

//- ----- パス --------------------//
//- 画像パス
- var imgPath = "assets/images/"


//- ----- その他 --------------------//
//- breakpoint
- var spW = "(max-width: 767px)"



